<!DOCTYPE html>
<html>
<head>
  <title>Stan</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="../favicon/site.webmanifest">
</head>
<body>
  <div class="container">
    <h1 class="header center blue-text">This is the home page for the Stan slackbot</h1>

    <h3>About Stan</h3>
    <p>Stan is a Slack bot &#x1F916;</p>
    <p>"Hello my dudes!! &#x1F680;"</p>
    <p>You can invoke me by mentioning me! If you say: </p> 
    <blockquote>
      @stan send meme/gif of/with (some category)
    </blockquote>
    <p>Example: </p>
    <blockquote>
      '@Stan send a meme with cat'
    </blockquote>
  </div>
</body>
</html>