<!DOCTYPE html>
<html>
<head>
  <title>Stan</title>
</head>
<body>
  <h1>This is the home page for the Stan slackbot &#x1F916; &#x1F680;</h1>

  <h2>About Stan</h2>
  <p>Stan is a Slack bot &#x1F916;</p>
</body>
</html>